<div id="spaceTemplate" style="display:none">
  <li class="space">
    <a class="space-name" href="{{space_link}}" target="_blank">{{space_name}}</a>
    &nbsp;
    <a class="add-space-link btn" rel="{{space_id}}">Add</a>
  </li>
</div>
<p id="text">Here are all the spaces where you can put their plans on your Facebook page.</p>
<ul id="spaces" class="cobot_list"></ul>
<script type="text/javascript" charset="utf-8">
  CobotFb.renderSpaces(<%= @spaces_json %>);
</script>
