<div id="spaceTemplate" style="display:none">
  <div class="row-fluid">
    <div class="span4">
      {{space_name}}
    </div>
    <div class="span4">
      <a class="add-space-link btn btn-small btn-primary" rel="{{space_id}}">Choose Facebook Page</a>
    </div>
    <div class="span4"></div>
  </div>
</div>

<p id="text">Choose a space to add to your Facebook page.</p>

<div id="spaces"></div>
<% content_for :js do %>
  CobotFb.renderSpaces(<%= @spaces_json.html_safe %>);
<% end %>
<hr>
