<div id="spaceTemplate" style="display:none">
  <div class="row-fluid">
    <div class="span4">
      <a class="space-name" href="{{space_link}}" target="_blank">{{space_name}}</a>
    </div>
    <div class="span4">
      <a class="add-space-link btn btn-small btn-primary" rel="{{space_id}}">Choose Facebook Page</a>
    </div>
    <div class="span4"></div>
  </div>
</div>

<p id="text">Here are all the spaces where you can publish their services on your Facebook page.</p>

<div id="spaces"></div>
<% content_for :js do %>
  CobotFb.renderSpaces(<%= @spaces_json %>);
<% end %>
<hr>