<div id="planTemplate" style="display:none">
  <li class="plan">
    <h2 class="plan-name">{{name}}</h2>
    <div class="plan-description">
      {{{html_description}}}
    </div>

    {{#cycle_costs}}
      <p class="price">{{display_price_per_cycle}} {{currency}} for {{cycle_duration}} Month
        {{#time_passes}}
        <br />
        <span class="sessions">
          {{#included_per_timespan}}
            {{included_per_timespan}} {{name}} sessions included per {{included_timespan}}.<br />
          {{/included_per_timespan}}
        </span>
        {{/time_passes}}
      </p>
    {{/cycle_costs}}

    {{#time_passes}}
      <p class="extra_price">
        {{extra_display_price}} {{currency}} per {{name}} {{#discounts_available}}(bulk discounts available){{/discounts_available}}
      </p>
    {{/time_passes}}

    {{=[% %]=}}
      <a class="plan-link" href="[%url%]" target="_blank">Sign up for [%name%]</a>
    [%={{ }}=%]
  </li>
</div>

<p id="welcome"></p>
<ul id="plans" data-space-id="<%= @space_id %>" >
</ul>
<small id="page_link">powered by <a href="http://www.cobot.me" target="_blank">cobot.me</a></small>

