<div id="planTemplate" style="display:none">
  <li class="plan">
    <h2 class="plan-name">{{name}}</h2>
    <p class="plan-description">
      {{description}}
    </p>

    {{#cycle_costs}}
      <p class="price">{{display_price_per_cycle}} {{currency}} for {{cycle_duration}} Month</p>
    {{/cycle_costs}}

    {{#day_pass_price}}
      <p class="extra_price">{{display_day_pass_price}} {{currency}} for a day pass</p>
    {{/day_pass_price}}

    {{#time_passes}}
      {{#included_per_timespan}}
      <p class="sessions">
        {{included_per_timespan}} sessions included per {{included_timespan}}.<br />
        <!-- Sessions last from {{timespans}} !-->
      </p>
      {{/included_per_timespan}}
    {{/time_passes}}

    {{=[% %]=}}
      <a class="plan-link" href="[%url%]" target="_blank">Sign up for [%name%]</a>
    [%={{ }}=%]
  </li>
</div>

<p id="welcome"></p>
<ul id="plans">
</ul>
<small id="page_link">powered by <a href="http://www.cobot.me" target="_blank">cobot.me</a></small>
<% content_for :js  do %>
  CobotFb.renderPlans(<%= @space_json %>, <%= @plans_json %>);
<% end %>

