body {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}

h3 {
  margin-top: 35px;
  margin-bottom: 11px;
  font-size: 20px;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background-color: #5B74A8;
  padding: 4px 10px 4px 10px;

}

a:hover {
  cursor: pointer;
}

.sessions {
  color: #808080
}