<div class="jumbotron">
  <h1>We are sorry!</h1>
  <p class="lead">Due to Facebook policy changes, we are no longer able to offer this service to new Cobot spaces. If you have already connected your Cobot account to your Facebook page, it will continue to work.</p>
</div>
<hr>
