<div class="jumbotron">
  <h1>Connect to new members on Facebook</h1>
  <p class="lead">Show your membership plans on your Facebook page and let new members sign up easily.</p>
  <a class="btn btn-large btn-success" href="/auth">Get Started</a>
</div>
<hr>
