<div class="jumbotron">
  <h1>We are sorry!</h1>
  <p class="lead">Due to Facebook policy changes we can’t offer this service anymore to new spaces. However if you already connected your Cobot space with your facebook page it will keep working.</p>
</div>
<hr>
