<p>Hi,<br/>with Cobot Plans for Facebook you can show your cobot membership plans on your Facebook page with just a view clicks. Interested visitors of your Facebook Page will be directed to cobot with the right plan selected when they click the signup links on your Facebook page.</p>

<p>To show your plans on Facebook just press Sign In and then select the Space you want to show on Facebook.</p>

<a class="btn" href="/auth">Sign In</a>