<div class="jumbotron">
  <h1>Show Your Services on Facebook</h1>
  <p class="lead">With Cobot Plans for Facebook you can show your membership plans on your Facebook page with just a view clicks.</p>
  <a class="btn btn-large btn-success" href="/auth">Sign In to Setup</a>
</div>
<hr>