<html>
<head>
  <title>Cobot plans for Facebook</title>
  <%= stylesheet_link_tag :fb %>
</head>
<body>
  <div id="fb-root"></div>
  <div id="site-wrapper">
    <div id="main-wrapper" class="clearfix">
      <div class="container">
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js', 'mustache', 'markdown.min', 'facebook', 'facebook-app', 'char-set' => 'utf-8' %>
</body>
</html>